 <html class="no-js" lang=""> 
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sufee Admin - HTML5 Admin Template</title>
        <meta name="description" content="Sufee Admin - ejs5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="favicon.ico">
        
        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/flag-icon.min.css">
        <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
        
           
        <link href="assets/css/style.css" rel="stylesheet" />
        <link href="assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        
        
        
        </head>
        <body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel"  >
            <nav class="navbar navbar-expand-sm navbar-default text-center">
        
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="./dashboard"><h1>Pymt</h1></a>
        
                </div>
        
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
        
        
                        <li class="menu-item-has-children ">
                            <a href="/dashboard"> Dashboard</a>
                        </li>
                        <li class="menu-item-has-children ">
                            <a href="/cashReport"> Cash Report</a>
        
                        </li>
                        <li class="menu-item-has-children ">
                            <a href="/items"> Items</a>
                        </li>
        
                        <li class="menu-item-has-children ">
                            <a href="/category"> Category</a>
                        </li>
        
                        <li class="menu-item-has-children ">
                            <a href="/users" aria-haspopup="true" aria-expanded="false"> Customers</a>
                        </li>
                        <li>
                            <a href="/users" aria-haspopup="true" aria-expanded="false"> Users</a>
                        </li>
                        <li>
                            <a href="/account" aria-haspopup="true" aria-expanded="false"> Account</a>
                        </li>
                        <li>
                            <a href="/" aria-haspopup="true" aria-expanded="false"> Sign out</a>
                        </li> 
        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </aside><!-- /#left-panel -->
        <!-- Left Panel -->

        <%- body %>
<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script> 
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>


<script src="assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="assets/js/dashboard.js"></script>
<script src="assets/js/widgets.js"></script>
<script src="assets/js/lib/vector-map/jquery.vmap.js"></script>
<script src="assets/js/lib/vector-map/jquery.vmap.min.js"></script>
<script src="assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
<script src="assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
<script>
    ( function ( $ ) {
        "use strict";

        jQuery( '#vmap' ).vectorMap( {
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: [ '#1de9b6', '#03a9f5' ],
            normalizeFunction: 'polynomial'
        } );
    } )( jQuery );
</script>

</body>
</html>